<h1>Edit: <%= @arrival.names %> | <%= @arrival.time %></h1>

<%= render('form') %>

<%= link_to "All Arrivals", arrivals_path, :class => "btn btn-default" %>
<%= link_to "Go Home", root_path, :class => "btn btn-default" %>

