<%= content_for(:title, "Bus System") %>

<h1>Welcome to the Bus System!</h1>

<br><br><%= link_to "View / Create Stations", stations_path, :class => 'btn btn-default' %>
<br><br><%= link_to "view / Create Lines", lines_path, :class => 'btn btn-default' %>
<br><br><%= link_to "View / Create Stops", stops_path, :class => 'btn btn-default' %>
<br><br><%= link_to "View / Create Buses", buses_path, :class => 'btn btn-default' %>
