<%= content_for(:title, " #{@bus.number} | Bus Station") %>

<h1><%= @bus.number %></h1>
<p>This bus operates on the: <%= @bus.line.name %></p>
<p><%= link_to "Edit", edit_bus_path(@bus), :class => "btn btn-default" %></p>
<p><%= link_to "Delete", bus_path(@bus), :data => {:confirm => "Are you sure?", :method => "delete"},
    :class => "btn btn-danger" %></p>


<%= link_to "See All Buses", buses_path, :class => 'btn btn-default' %>
